/build-gamecube/
/build-wii/
/gx-w-clipdisable-oracle-gamecube.dol
/gx-w-clipdisable-oracle-gamecube.elf
/gx-w-clipdisable-oracle-gamecube.elf.map
/gx-w-clipdisable-oracle-wii.dol
/gx-w-clipdisable-oracle-wii.elf
/gx-w-clipdisable-oracle-wii.elf.map
